body {
    background-color: #04394d;
}
.container {
    background-color: white;
}
.header {
    margin-top: 1.3em;
    margin-bottom: 1.3em;
}
.header h1 {
    font-family: "Nimbus Sans", Helvetica, sans-serif;
    margin-top: 0;
    font-weight: normal;
    color: #04394d;
}
.header h3 {
    text-align: right;
    font-style: italic;
    padding-top: 0;
    margin-top: 0;
}
.header .logo {
    text-align: right;
    padding-right: 5ex;
}
h2 {
    padding-bottom: 0.2ex;
}
th {
    padding-right: 2ex;
    padding-top: 0.75ex;
}
td {
    padding-bottom: 0.75ex;
}
.calc {
    background-color: #d2f3fe;
}

.calcButtonContainer {
    padding-top: 1.25em;
}
.calcPanel {
    background-color: #fafafa;
    padding-top: 1.1em;
    padding-bottom: 3em;
}
.afterCalculate {
    padding-top: 2em;
}

.balloonPanel {
    background-color: #eee;
    padding-top: 1.1em;
    padding-bottom: 3em;
}

.conditionsPanel {
    background-color: #ddd;
    padding-top: 1.1em;
    padding-bottom: 3em;
}

.createdByPanel {
    background-color: #ccc;
    text-align: center;
    padding-right: 2ex;
    padding-left: 2ex;
    padding-top: 2em;
    padding-bottom: 2em;
}

#totalMass, 
#lsAirDensity, 
#ambientAirDensity,
#launchVolume,
#freeLiftKg,
#ballastDurationCapacity,
#ballastRemaining {
    background-color: #ddd;
}

.form-control {
    width: 14ex !important;
}